.list.dark {
  border-radius: 5px 5px 0 0;
  width: 100%;
  background-color: hsl(235, 24%, 19%);
}

.list.dark .item {
  color: hsl(234, 11%, 52%);
  border-bottom: 1px solid hsl(233, 14%, 35%);
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.list.dark .item:hover {
  color: hsl(236, 33%, 92%);
}
.list.dark .item.active {
  color: hsl(233, 14%, 35%);
  text-decoration: line-through;
}
.list.dark .item img {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  height: 10px;
  width: 10px;
  padding: 4px;
  margin: 10px 20px;
  border-radius: 50%;
}

/*  light mode */
.list.light {
  border-radius: 5px 5px 0 0;
  width: 100%;
  background-color: hsl(236, 33%, 92%);
}

.list.light .item .confirm {
  cursor: pointer;
  margin: 10px 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 94%);
}
.list.light .item .confirm:hover {
  border: 1px solid hsl(234, 11%, 52%);
}
.list.light .item {
  color: hsl(236, 13%, 48%);
  border-bottom: 1px solid hsl(233, 11%, 84%);
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.list.light .item:hover {
  color: hsl(235, 24%, 27%);
}
.list.light .item.active {
  color: hsl(231, 6%, 59%);
  text-decoration: line-through;
}
.list.light .item img {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  height: 10px;
  width: 10px;
  padding: 4px;
  margin: 10px 20px;
  border-radius: 50%;
}

/* Responsive */

@media (max-width: 630px) {
  .App {
    width: 80%;
    margin: 50px auto;
  }
  .App.light {
    width: 100%;
    margin: 50px auto;
  }
  .App.light .list-container .item {
    width: 100%;
  }
  .list-container .item {
    width: 100%;
  }
  .clear,
  .item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    width: 33.33%;
    margin: 0 5px;
    padding: 5px;
  }
}
@media (max-width: 530px) {
  .App {
    width: 400px;
  }
  .App.light {
    width: 400px;
  }
  .App .list-container .links .link {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .App {
    width: 300px;
  }
  .App.light {
    width: 300px;
  }
}
