.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 540px;
  margin-top: 50px;
  padding: 20px;
}
.App .header {
  letter-spacing: 10px;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.App .header img {
  cursor: pointer;
}
.App .list-container {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 15px;
  width: 100%;
}
.App form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: hsl(235, 24%, 19%);
}
.App.light form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: hsl(235, 27%, 92%);
}
.App .confirm {
  cursor: pointer;
  margin: 10px 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid hsl(234, 11%, 52%);
}
.App.light form input {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(235, 24%, 27%);
  border-radius: 5px;
  background-color: hsl(235, 27%, 92%);
  border: 0;
  outline: 0;
  width: 440px;
  padding: 20px;
}
.App form input {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  border-radius: 5px;
  background-color: hsl(235, 24%, 19%);
  border: 0;
  outline: 0;
  width: 440px;
  padding: 20px;
}
.App form img {
  cursor: pointer;
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  height: 10px;
  width: 10px;
  padding: 4px;
  margin: 10px 20px;
  border-radius: 50%;
}
.App form input::placeholder {
  color: hsl(234, 11%, 52%);
}

.App.light .list-container .links {
  color: hsl(234, 11%, 52%);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-color: hsl(235, 27%, 92%);
}
.App .list-container .links .link a.active {
  color: hsl(220, 98%, 61%);
}
.App .list-container .links {
  color: hsl(234, 11%, 52%);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-color: hsl(235, 24%, 19%);
}
.App .list-container .links .clear {
  cursor: pointer;
}
.App.light .list-container .links .clear:hover {
  color: hsl(235, 24%, 27%);
}
.App .list-container .links .clear:hover {
  color: hsl(236, 33%, 92%);
}
.App .list-container .links .item-number {
  cursor: pointer;
}
.App.light .list-container .links .item-number:hover {
  color: hsl(235, 24%, 27%);
}
.App .list-container .links .item-number:hover {
  color: hsl(236, 33%, 92%);
}
.App .list-container .links .link a {
  color: hsl(234, 11%, 52%);
  text-decoration: none;
  margin: 5px 10px;
}

.App.light .list-container .links .link a:hover {
  color: hsl(235, 24%, 27%);
}
.App .list-container .links .link a:hover {
  color: hsl(236, 33%, 92%);
}
